# All env files
env/

#Pycache
__pycache__/

#Env variables like discord token
.env

# The example settings file
settings.json

# Test files
tests/

#vscode
.vscode/

# Logs
logs/

# Database
sqlite.db
sqlite.db-journal

#Bootstrap
bootstrap/

# Dependencies
node_modules/